<div class="row">
	<!-- <div class="col-md-12 do-margin hello"> -->
	<div class="container-fluid" id="homeContainer" style="margin-top: 10px;">
		<div ng-controller="compare as comp">
			<select class="col-md-4" ng-model="testwith" class="form-control"
				ng-options="testname.testsuite + '_' + testname.testname for testname in testname"
				id="test_with">
				<option disabled value="">-- choose Test with --</option>
			</select> <select class="col-md-4" ng-model="test_to" class="form-control"
				ng-options="testname.testsuite + '_' + testname.testname for testname in testname"
				id="test_to">
				<option disabled value="">-- choose Test to --</option>
			</select> 
			&nbsp;&nbsp;&nbsp;
			<button id="compare" name="save" class="btn btn-primary" ng-click="compare()">Compare Test</button>
		</div>
		<br>
		<!-- Lenoxx -->

		<div class="col-sm-12" id="textDiv">
			<h3 style= "color: white;" >Please Select the Tests to Compare.</h3>

		</div>
		<div id="widgetDiv" style="display: none;">
			<div class="col-md-6 widgetDiv" ng-show="FLAG_LEX_TS">
				<!-- <div ng-if="FLAG_LEX_TS" ng-include="'views/app/widgets/lennox/jmeter/lennoxUserProfile.html'"></div> -->
				<div ng-if="FLAG_LEX_TS" ng-include="'views/app/widgets/lennox/jmeter/comparision/Copy_of_lennoxUserProfileForComparision.html'"></div>
			</div>
			<div class="col-md-6 widgetDiv" ng-show="FLAG_LEX_KPI_CMP">
				<div ng-if="FLAG_LEX_KPI_CMP" ng-include="'views/app/widgets/lennox/jmeter/comparision/lennoxComparisionKPI.html'"></div>
			</div>

            <div class="col-md-6 widgetDiv" ng-show="FLAG_LEX_KPI_CMP">
				<div ng-if="FLAG_LEX_KPI_CMP" ng-include="'views/app/widgets/lennox/jmeter/comparision/testerUpdatesCompare.html'"></div>
			</div>

			<!-- activeThreadsOverTimeCompare.html -->
			<div class="col-md-6 widgetDiv" ng-show="FLAG_LEX_AT_CMP">
				<div ng-if="FLAG_LEX_AT_CMP" ng-include="'views/app/widgets/lennox/jmeter/comparision/Copy_of_activeThreadsOverTimeCompare.html'"></div>
			</div>
			
			<div class="col-md-12 widgetDiv" ng-show="FLAG_LEX_AG_CMP">
				<div ng-if="FLAG_LEX_AG_CMP" ng-include="'views/app/widgets/lennox/jmeter/comparision/aggregateReportCompare.html'"></div>
			</div>
			
			<div class="col-md-6 widgetDiv" ng-show="FLAG_LEX_RC_CMP">
				<div ng-if="FLAG_LEX_RC_CMP" ng-include="'views/app/widgets/lennox/jmeter/comparision/responseCodesCompare.html'"></div>
			</div>
			
			<div class="col-md-6 widgetDiv" ng-show="FLAG_LEX_HS_CMP">
				<div ng-if="FLAG_LEX_HS_CMP" ng-include="'views/app/widgets/lennox/jmeter/comparision/hitsPerSecondCompare.html'"></div>
			</div>
		</div>
	</div>

</div>
<!-- Modal -->
<div class="modal fade" id="predictModal" role="dialog" href="#">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Predictive Analysis</h4>
			</div>
			<div class="modal-body" style="min-height: 340px; height: 340px;">
				<div ng-include="'views/app/widgets/perf/predict/predict.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="diagnoseModal" role="dialog" href="#">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Diagnostic Analysis</h4>
			</div>
			<div class="modal-body">
				<div ng-include="'views/app/widgets/perf/prescribe/prescribe.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="lennoxInterpretModal" role="dialog" href="#">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Interpret</h4>
			</div>
			<div class="modal-body">
				<div
					ng-include="'views/app/widgets/widgetMenu/interpret/tsInterpret.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</div>