<div ng-controller="CustomWidgetController as cwctrl">
	<div class="panel panel-default drilDownPanel">
		<div class="panel-heading do-panel-heading">
			<div class="panel-title">Custom Reports</div>
		</div>
		<div class="panel-body drilDownPanel-Body">
			<div class="graphWell">
				<div class="row mTopMini">

					<div class="col-md-6">
						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Chart Type</span>
							</div>
							<div class="col-md-8">
								<select class="form-control" name="chartType" id="chartType">
									<option value="barChart">Bar Chart</option>
									<option value="lineChart">Line Chart</option>
								</select>
							</div>
						</div>
						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Aggregate
									Function</span>
							</div>
							<div class="col-md-8">
								<select class="form-control" name="aggrFunc" id="aggrFunc">
									<option value="">Select Aggregate function..</option>
									<option value="count">Count</option>
								</select>
							</div>
						</div>
						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Select X
									Axis</span>
							</div>
							<div class="col-md-8">
								<select class="form-control" name="xColumn" id="xColumn">
									<option value="">Select X-Axis</option>
								</select>
							</div>
						</div>
						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Select Y
									Axis</span>
							</div>
							<div class="col-md-8">
								<select class="form-control" name="yColumn" id="yColumn">
									<option value="">Select Y-Axis</option>
								</select>
							</div>
						</div>
						<div class="row mTop mRight" align="right">
							<button class="btn btn-primary" onclick="drawChart();">Submit</button>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div id="chart"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script type="text/javascript" src="views/customwidget/js/d3.js"></script>
		<script type="text/javascript"
			src="views/customwidget/js/crossfilter.js"></script>
		<script type="text/javascript"
			src="views/customwidget/js/dc-latest.js"></script>
		<script type='text/javascript' src='views/customwidget/js/queue.js'></script>
		<script type="text/javascript"
			src="views/customwidget/js/defects_charts.js"></script>
	</div></div>