
<div class="row">
	<!-- <div class="col-md-12 do-margin hello"> -->
	<div class="col-md-12 container" id="homeContainer">
		<div class="col-md-3" ng-show="rrPanelFlag">
			<div ng-include="'views/app/widgets/cio/releaseReadyness.html'"></div>
		</div>
		<div class="col-md-3" ng-show="ltPanelFlag">
			<div ng-include="'views/app/widgets/cio/leadTime.html'"></div>
		</div>
		<div class="col-md-3" ng-show="cPanelFlag">
			<div ng-include="'views/app/widgets/cio/cost.html'"></div>
		</div>
		<div class="col-md-3" ng-show="vPanelFlag">
			<div ng-include="'views/app/widgets/cio/value.html'"></div>
		</div>
		
		
		<div class="col-md-3" ng-show="kpiPanelFlag">
			<div ng-include="'views/app/widgets/perf/perfKPIImp.html'"></div>
		</div>

		<div class="col-md-3" ng-show="tdPanelFlag">
			<div ng-include="'views/app/widgets/perf/perfTestDetails.html'"></div>

		</div>
		<div class="col-md-3" ng-show="tpsPanelFlag">
			<div ng-include="'views/app/widgets/perf/perfTransPerSec.html'"></div>
		</div>

		<div class="col-md-3" ng-show="trespPanelFlag">
			<div ng-include="'views/app/widgets/perf/perfTransResp.html'"></div>
		</div>
		<div class="col-md-3" ng-show="avgRTPanelFlag">
			<div ng-include="'views/app/widgets/perf/perfAvgRespTime.html'"></div>
		</div>
		<div class="col-md-3" ng-show="epercPanelFlag">
			<div ng-include="'views/app/widgets/perf/perfErrorPercentile.html'"></div>
		</div>
		
		<div class="col-md-3" ng-show="respTimePanelFlag">
			<div ng-include="'views/app/widgets/perf/perfRespTime.html'"></div>
		</div>

		
		<div class="col-md-3" ng-show="eperTPanelFlag">
			<div ng-include="'views/app/widgets/perf/perfErrorPerTrend.html'"></div>
		</div>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Release Readiness</h4>
				</div>
				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</div>