        <style>
        .col {
    -webkit-column-count: ; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
#saveTest{
/*margin-top:-10px;*/
z-index: -1;
}
.flag{
/*display:none;*/
}
        </style>
        <div class="row">
        <!-- <div class="col-sd-12"> -->
<!-- <input type="button" value="save test" id="saveTest">-->
<div class="col-sd-12 flag" id="flag">
<select id="project">
	<option value='0'>Choose Project,Scenario name</option>
</select>
<input type="text" id="test_name" value="" placeholder="Enter Test Name">
<input type="text" id="testStart_time" value="" placeholder="Enter test startTime">
<input type="text" id="testEnd_time" value="" placeholder="Enter test endTime">&nbsp;&nbsp;&nbsp;
<button id="save" name="save" class="btn btn-primary"  >Save times</button>
<br/><br/>
<!-- </div> -->
</div>
</div>
<div class="row">
<!-- <iframe src="http://172.16.18.100:3000/dashboard/db/jmeterliveresults" height="600px" width="100%"></iframe> -->
<iframe src="http://34.193.216.93:3000/dashboard/db/jmeterliveresults_lennox" height="600px" width="100%"></iframe>
             
			
</div>
<script>
$( document ).ready(function() {
	
	 $.ajax({url: "lennox/getdetailsfrominflux",
		 type: 'GET',
		// data:{"testname":$("#test_name").val(),"startTime":test_start,"endTime":test_end},
		 success: function(result){
	      //  $("#div1").html(result);
	      var res=JSON.parse(result);
	     // alert("res"+res.project);
	     console.log("response:",res);
	     $("#project").empty();
	     $("#project").append("<option value='0'>Choose Project,Scenario name</option>");
	     for(var i=0;i<res.length;i++)
	    	 {
	    	 var obj= res[i];
	    	 //alert(obj);
	    	 console.log("obj",obj);
	    	// console.log("value:",obj.project);
	    	
	    	 $("#project").append("<option value='"+obj.project+"|"+obj.suite+"'>"
	    			 +obj.project+","+obj.suite+"</option>");
	    	 }
	     // alert("Status:"+res);
	    },
	    error:function(error)
	    {
	    	}
		 });
	
$('#save').click(function() {
	  //  var name = $('iframe[name=select_frame]').contents().find('ng-modal=ctrl.timeRaw.from').val();
	//	alert("click");
		
	/* var test_start=Date.parse($("#testStart_time").val()+'+05:30');
	var test_end=Date.parse($("#testEnd_time").val()+'+05:00'); */
	var projectScenario=$( "#project" ).val();
	var arr=projectScenario.split("|");
	if(arr.length==0)
		{
		alert("please select project/scenario");
		return;
		}
	var project=arr[0];
	var scenario=arr[1]
	var test_start=Date.parse($("#testStart_time").val()+'');
	var test_end=Date.parse($("#testEnd_time").val()+'');
	 $.ajax({url: "lennox/savetestdetails",
		 type: 'POST',
		 data:{"project":project,"scenario":scenario,"testname":$("#test_name").val(),"startTime":test_start,"endTime":test_end},
		 success: function(result){
	      //  $("#div1").html(result);
	      var res=JSON.parse(result);
	      alert("Status:"+res.result);
	      
	    },
	    error:function(error)
	    {
	    	}
		 });
	});
});
</script>