
<!-- <div id="sidebar-wrapper" class="sideStyle"
	ng-controller="sidebarController as side">
	<ul class="sidebar-nav">
		<li class="top-buffer"><select style="width: 150px;"
			ng-options="item as item.label for item in itemsOne track by item.id"
			ng-model="side.one"></select></li>
		<li class="top-buffer"><select style="width: 150px;"
			ng-options="item as item.label for item in itemsTwo track by item.id"
			ng-model="side.two"></select></li>
		<li class="top-buffer"><select style="width: 150px;"
			ng-options="item as item.label for item in itemsThree track by item.id"
			ng-model="side.three"></select></li>
		<li class="top-buffer"><br></li>
		<li class="top-buffer">
			<button type="submit" class="btn btn-default center-block"
				style="width: 80px;" ng-click="side.submit()">Submit</button>
		</li>
		<li class="top-buffer">
			<button type="submit" class="btn btn-default center-block"
				style="width: 80px;" ng-click="side.reset()">Reset</button>
		</li>
	</ul>
</div> -->

<div class="menu" ng-controller="sidebarController as side">
	<div class="bBottom">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img
			class="user-profile" src="views/images/users/rajesh.jpg" alt="...">
		</a>
		<div class="col-md-6 tdTopTitle" align="right">
			Admin<br>
			<div class="user_title">Rajesh</div>
		</div>
	</div>
	<div class="menu-heading">
		<div class="menu-header-buttons-wrapper clearfix">
			<button type="button" class="btn btn-info btn-menu-header-collapse">
				<i class="fa fa-cogs"></i>
			</button>
			<!--Put your favourite pages here-->
			<!-- <div class="menu-header-buttons">
				<a href="#profile" class="btn btn-info btn-outline"
					data-title="Profile" data-original-title="" title=""> <i
					class="fa fa-user"></i>
				</a> <a href="#invoice" class="btn btn-info btn-outline"
					data-title="Invoice" data-original-title="" title=""> <i
					class="fa fa-file-pdf-o"></i>
				</a> <a href="#lobimail" class="btn btn-info btn-outline"
					data-title="Inbox" data-original-title="" title=""> <i
					class="fa fa-envelope"></i>
				</a> <a href="#calendar" class="btn btn-info btn-outline"
					data-title="Calendar" data-original-title="" title=""> <i
					class="fa fa-calendar"></i>
				</a>
			</div> -->
			<!-- 	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img
				class="user-avatar" src="views/images/users/rajesh.jpg" alt="...">
			</a> -->
			<ul class="list-inline leftMenu">
				<li>Home</li>
				<li>Profile</li>
				<li>Settings</li>
				<li ng-click="logout()">Logout</li>
			</ul>
		</div>
	</div>
	<nav>
		<ul>
			<!-- <li ng-class="{active: isActiveMenu('/')}"><a ui-sref="home">
					<i class="fa fa-home menu-item-icon"></i> <span class="inner-text">Dashboard</span>
			</a></li> -->
			<li ng-class="{active: isActiveMenu('/')}"><a ui-sref="home">
					<i class="fa fa-home menu-item-icon"></i> <span class="inner-text">Home</span>
			</a></li>
			<li ng-class="{active: isActiveMenu('/dashboard')}"><a
				ui-sref="dashboard"> <i class="fa fa-home menu-item-icon"></i> <span
					class="inner-text">Dashboard</span>
			</a></li>
			<li ng-class="{active: isActiveMenu('/comparisions')}"><a
				ui-sref="comparisions"> <i
					class="fa fa-clock-o menu-item-icon"></i> <span class="inner-text">Compare-Tests</span>
			</a></li>
			<li ng-class="{active: isActiveMenu('/liveresults')}"><a
				ui-sref="liveresults"> <i class="fa fa-clock-o menu-item-icon"></i>
					<span class="inner-text">Live Results</span>
			</a></li>
			<li ng-class="{active: isActiveMenu('/testerObservations')}"><a
				ui-sref="testerObservations"> <i
					class="fa fa-clock-o menu-item-icon"></i> <span class="inner-text">Observations</span>
			</a></li>
			<li ng-class="{active: isActiveMenu('/reports')}"><a
				ui-sref="reports"> <i class="fa fa-area-chart menu-item-icon"></i>
					<span class="inner-text">Custom Reports</span>
			</a></li>
			<li ng-class="{active: isActiveMenu('/over')}"><a ui-sref="over">
					<i class="fa fa-laptop menu-item-icon"></i> <span
					class="inner-text">Environment Details</span>
			</a></li>

			<li><a href="#calendar"> <i
					class="fa fa-calendar menu-item-icon"></i> <span class="inner-text">Calendar</span>
					<span class="badge-wrapper">
						<!-- <span
						class="badge badge-xs badge-info">12</span> -->
				</span>
			</a></li>
			<li><a href="#lobimail"> <i
					class="fa fa-envelope menu-item-icon"></i> <span class="inner-text">Inbox</span>
					<span class="badge-wrapper">
						<!-- <span
						class="badge badge-xs badge-danger">7</span> -->
				</span>
			</a></li>
			<!-- <li><a href="#"> <i class="fa fa-file-o menu-item-icon"></i>
					<span class="inner-text">Extra</span> <i
					class="fa fa-chevron-circle-right menu-item-toggle-icon"></i></a>
				<ul>
					<li><a href="#error-404"> Page 404 </a></li>
					<li><a href="#error-500"> Page 500 </a></li>
					<li><a href="lock.html"> Lock Screen </a></li>
					<li><a href="login.html"> Login &amp; Register </a></li>
					<li><a href="#helper"> Helper Classes </a></li>
					<li><a href="#pricing-tables"> Pricing tables </a></li>
					<li><a href="#timeline"> Timeline </a></li>
					<li><a href="#invoice"> Invoice </a></li>
					<li><a href="#profile"> Profile </a></li>
				</ul></li> -->
			<li><a href="#mail-templates"> <i
					class="fa fa-info-circle menu-item-icon"></i> <span
					class="inner-text">Help</span>
			</a></li>
		</ul>
	</nav>
	<div class="menu-collapse-line">
		<!--Menu collapse/expand icon is put and control from LobiAdmin.js file-->
		<div class="menu-toggle-btn" data-action="collapse-expand-sidebar">
			<i class="fa fa-chevron-circle-left"></i>
		</div>
	</div>
</div>