<div ng-controller="testerUpdateController as tdctrl">
	<div class="testerUpdatePanel panel" style= "height: 396px;">
		<div class="panel-heading do-panel-heading">

			<div class="panel-title">Tester Updates</div>
		</div>
		<div class="panel-body">
			<div id="testupdartesLoadImg_id" class="loadImage_class">
				<i class="fa fa-spinner fa-spin fa-3x"></i>
			</div>
			<div id="tupdate">
				<table class="table table-striped">
					<thead style="font-size: smaller;">
						<tr>
							<th>Comment</th>
							<th ng-show="showfullData">User Name</th>
							<th ng-show="showfullData">Date and Time</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="comment in comments"
							ng-include="getTemplate(comment)">
						</tr>
					</tbody>
					<script type="text/ng-template" id="display">
                        <td>{{comment.comment_name}}</td>
 						<td ng-show="showfullData">{{comment.user_name}}</td>
                        <td ng-show="showfullData">{{comment.comment_date}}</td>						                
                        <td>
                               <button class="btn btn-primary btn-xs"  ng-click="editComment(comment)">Edit</button>
 								<button class="btn btn-primary btn-xs"  ng-click="delComment(comment)">Del</button>
                        </td>
                    </script>
					<script type="text/ng-template" id="edit">
                         <td><input type="text" ng-model="comment.comment_name" style="width:100%" class="form-control"/></td>
                          		<td  ng-show="showfullData">{{comment.user_name}}</td>
                        		<td  ng-show="showfullData">{{comment.comment_date}}</td>						       
                         <td id="buttons">
                               <button class="btn btn-primary btn-xs"  ng-click="updateComment(comment)">Save</button>
                               <button class="btn btn-primary btn-xs"  ng-click="reset()">Cancel</button>
                         </td>
                   </script>

				</table>
			</div>

			<div>
				<button ng-click="toggle()">Add Comment</button>
			</div>

			<div ng-show="myVar">
				<form id="comment">
					<label></label> <label></label> <label></label>
					<textarea class="form-control" rows="3" id="comment"
						ng-model="newcomment.comment"></textarea>
					<input type="button" value="Add"
						ng-click="savecomment('SINGLE_TEST')"
						class="btn btn-primary btn-xs" id="addButton" />
				</form>
			</div>
		</div>

	</div>
</div>