<div ng-controller="CustomWidgetController as cwctrl"
	class="homeContainer">
	<div class="panel panel-default drilDownPanel">
		<div class="panel-heading do-panel-heading">
			<div class="panel-title">Custom Reports</div>
		</div>
		<style>
label {
	font-weight: bold;
}

input[type=radio] {
	vertical-align: top;
}
</style>
		<div class="panel-body drilDownPanel-Body">
			<div class="graphWell">
				<div class="row mTopMini">
					<div class="col-md-6">

						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">REST API
									URL</span>
							</div>
							<div class="col-md-8">
								<input type="text" size="40" name="rest_api" id="rest_api"
									ng-model="sourceURL" value="" /><br /> <br />
								<button class="btn" ng-click="loadData()">Load data</button>
								<b>OR</b>
							</div>
						</div>

						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Upload CSV
									File</span>
							</div>
							<div class="col-md-8">
								<input type="file" name="File Upload" id="csv_file"
									accept=".csv" style="line-height: normal;" /><br /> <br />
							</div>
						</div>


						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Chart Type</span>
							</div>
							<div class="col-md-8">
								<input type="radio" name="chartType" value="barChart" checked
									ng-model="chartType"> Bar Chart &nbsp;&nbsp; <input
									type="radio" name="chartType" value="lineChart"
									ng-model="chartType"> Line Chart &nbsp;&nbsp; <br /> <input
									type="radio" name="chartType" value="stackedChart"
									ng-model="chartType"> Stacked Chart &nbsp;&nbsp; <input
									type="radio" name="chartType" value="pieChart"
									ng-model="chartType"> Pie Chart &nbsp;&nbsp;
							</div>
						</div>


						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Select X
									Axis</span>
							</div>
							<div class="col-md-8">
								<select class="form-control" name="xColumn" id="xColumn"
									ng-model="xAxis">
									<option value="">Select X-Axis</option>
								</select>
							</div>
						</div>


						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Aggregation</span>
							</div>
							<div class="col-md-8">
								<input type="radio" name="aggrFunc" value="count"
									ng-model="aggregation"> Count &nbsp;&nbsp; <input
									type="radio" name="aggrFunc" value="sum" disabled
									ng-model="aggregation"> Sum &nbsp;&nbsp; <input
									type="radio" name="aggrFunc" value="avg" disabled
									ng-model="aggregation"> Avg &nbsp;&nbsp; <input
									type="radio" name="aggrFunc" value="" checked
									ng-model="aggregation"> None &nbsp;&nbsp;
							</div>
						</div>


						<div class="row mTop20" id="group_by" style="display: none;">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Group By:</span>
							</div>
							<div class="col-md-8">
								<select name="groupBy" id="groupBy" ng-model="gropuBy">
									<option value="">Select group by..</option>
								</select>
							</div>
						</div>

						<div class="row mTop20">
							<div class="col-md-4 mTopMini">
								<span class="label label-default reprtsTitle">Select Y
									Axis</span>
							</div>
							<div class="col-md-8">
								<select class="form-control" name="yColumn" id="yColumn"
									ng-model="yAxis">
									<option value="">Select Y-Axis</option>
								</select>
							</div>
						</div>
						<div class="row mTop mRight" align="right">
							<button class="btn btn-primary" ng-click="drawChart()">Submit</button>
						</div>
					</div>
					<div class="col-md-6" id="customWdiget">
						<div class="row">
							<div class="panel-title">Custom Widget</div>
						</div>
						<div class="row">
							<div id="chart"></div>
							<div id='errorMsg' style="color: red; padding-left: 55px;">
							</div>
						</div>
						<div class="row mTop" align="right">
							<button class="btn btn-primary" data-toggle="modal" data-target="#myWidgetModal">Add
								To My Dashboard</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="myWidgetModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Please Enter Widget Name</h4>
					</div>
					<div class="modal-body">
						<input id="widgetName" name="widgetName" ng-model="widgetName" type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="Widget Name">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"  ng-click="add2Dashboard()" data-dismiss="modal">OK</button>
					</div>
				</div>

			</div>
		</div>
		<script type="text/javascript" src="views/customwidget/js/d3.js"></script>
		<script type="text/javascript"
			src="views/customwidget/js/crossfilter.js"></script>
		<script type="text/javascript"
			src="views/customwidget/js/dc-latest.js"></script>
		<script type="text/javascript"
			src="views/customwidget/js/jquery.csv-0.71.min.js"></script>
		<script type='text/javascript' src='views/customwidget/js/queue.js'></script>
		<!-- <script type="text/javascript"
			src="views/customwidget/js/defects_charts.js"></script> -->
	</div>
</div>