<div class="panel panel-default drilDownPanel">
	<div class="panel-heading do-panel-heading">
		<div class="panel-title">Jenkins pipeline</div>
	</div>
	<div class="panel-body drilDownPanel-Body">
		<div class="graphWell">
			<div class="row mTopMini">
			<!-- 	<iframe src="http://172.16.18.100:8080/view/Delivery%20Pipeline/?fullscreen=true" height="100%" width="100%" style="min-height:700px"></iframe> -->
			<iframe src="http://172.16.3.42:8080/jenkins/view/Demo%20Delivery%20Pipeline/?fullscreen=true#" height="100%" width="100%" style="min-height:700px"></iframe> -->
			
			</div>
		</div>
	</div>
</div>