<div ng-controller="perfJMKPICompare as jmkctrl">
	<select ng-model="testTo" class="form-control"
		ng-options="testname.name for testname in testname"
		ng-change="update()">
		<option disabled value="">-- choose Test --</option>
	</select> <select ng-model="testwith" class="form-control"
		ng-options="testname.name for testname in testname"
		ng-change="update1()">
		<option disabled value="">-- choose Test --</option>
	</select>
	<div>
		<div class="jmkpiPanel panel panel-info">
			<div class="panel-heading do-panel-heading">
				<div class="widgetMenuIncludeDiv"
					ng-include="'views/app/widgets/widgetMenu/widgetPerfMenu.html'"></div>
				<b class="panelHeaderTextPadding">KPI</b>
			</div>
			<div class="panel-body">
				<div class="widgetTitleDiv row kpiTitle" align="center">
					<p class="widgetHeading">{{kpiTitle}}</p>
				</div>
				<div id="perfJMKPILoadImg_id" class="loadImage_class">
					<i class="fa fa-spinner fa-spin fa-3x"></i>
				</div>
				<div class="row graphWell" align="center">
					<div class="kpiPanelContent">
						<div class="row">
							<button class="trsfficButton">
								<i class="fa fa-circle {{trafficClass}} faa-flash animated"
									style="font-size: 40px;"></i><br>
							</button>
						</div>
						<table class="table kpiTable">
							<thead>
								<tr>
									<th>Metric</th>
									<!-- <th>KPI(Sec)</th> -->
									<th>Test NO {{testTo.name}}</th>
									<th>Test NO {{testwith.name}}</th>
									<th>Diff</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Avg. Resp Time</td>
									<!-- <td>1.2</td> -->
									<td>{{PrevrespTime}}</td>
									<td>{{respTime}}</td>
									<td class="{{respcolor}} diffcss">{{respTimeDiff}}</td>
								</tr>
								<tr>
									<td>TPS</td>
									<!-- 	<td>0.20</td> -->
									<td>{{Prevtps}}</td>
									<td>{{tps}}</td>
									<td class="{{tpscolor}} diffcss">{{tpsTimeDiff}}</td>
								</tr>
								<tr>
									<td>Errors</td>
									<!-- <td>10.0</td> -->
									<td>{{Preverrors}}</td>
									<td>{{errors}}</td>
									<td class="{{errorcolor}} diffcss">{{errorTimeDiff}}</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="panel-footer" align="right">
				<span class="widgetFooterSpan" data-toggle="tooltip"
					data-placement="bottom" title="Export Excel"><i
					class="fa fa-file-excel-o" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>

	<div class="jmtresPanel panel panel-info">
		<div class="panel-heading do-panel-heading">
			<div class="widgetMenuIncludeDiv"
				ng-include="'views/app/widgets/widgetMenu/widgetPerfMenu.html'"></div>
			<b class="panelHeaderTextPadding">Trans RTime</b>
		</div>
		<div class="panel-body">
			<div class="widgetTitleDiv row jmTransrespTitle" align="center">
				<div class="col-md-12">
					<p class="widgetHeading">{{tRespTitle}}</p>
				</div>
				<!-- <div class="col-md-3">
					<label class="switch switch-green"> <input type="checkbox"
						class="switch-input"> <span class="switch-label"
						data-on="K" data-off="K"></span> <span class="switch-handle"></span>
					</label>
				</div> -->
			</div>

			<div id="perfJMTransRespLoadImg_id" class="loadImage_class">
				<i class="fa fa-spinner fa-spin fa-3x"></i>
			</div>

			<div class="row graphWell transdetails" align="center">
				<div class="transdetails">
					<!-- <div id="donutchart" style="width: 250px; height: 245px;"></div> -->
					<table class="table perfJMResp_tab">
						<thead>
							<tr>
								<th>Name</th>
								<!-- 	<th>{{testTo.name}}  Min</th>
							<th>{{testwith.name}}  Min</th> -->

								<!-- 	<th>{{testTo.name}}  Max</th>
							<th>{{testwith.name}}  Max</th>
 -->
								<th>Test NO {{testTo.name}} Avg</th>
								<th>Test NO {{testwith.name}} Avg</th>

								<th>Diff</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="transaction in transactionDetails">
								<td>{{transaction[0].transactionName}}</td>
								<!-- <td>{{transaction[0].min}}</td>
							<td>{{transaction[0].testwithmin}}</td>
							<td>{{transaction[0].max}}</td>
							<td>{{transaction[0].testwithmax}}</td>
							 -->
								<td>{{transaction[0].avg}}</td>
								<td>{{transaction[0].testwithavg}}</td>
								<!-- <td class="{{respcolor}} diffcss"></td> -->
								<td class="{{ transaction[0].class }} diffcss">{{
									transaction[0].diff}}</td>

							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel-footer" align="center">
			<span class="widgetFooterSpan" data-toggle="tooltip"
				data-placement="top" title="Export Excel"><i
				style="float: right" class="fa fa-file-excel-o" aria-hidden="true"></i></span>
		</div>
	</div>

</div>
<style>
.green {
	color: green;
}

.red {
	color: red;
}
</style>