<div class="panel panel-default drilDownPanel">
	<div class="panel-heading do-panel-heading">
		<div class="panel-title">Work Load Analysis</div>
	</div>
	<div class="panel-body drilDownPanel-Body">
		<div class="graphWell">
			<div class="row mTopMini">
				<iframe
					src="http://172.16.18.100:5601/app/kibana#/dashboard/Workload-Dashboard?embed=true&amp;_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&amp;_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:Request-Details,panelIndex:1,row:1,size_x:4,size_y:3,type:visualization),(col:5,id:Requests-per-second,panelIndex:2,row:1,size_x:4,size_y:3,type:visualization),(col:9,id:Request-distribution,panelIndex:3,row:1,size_x:4,size_y:3,type:visualization),(col:5,id:Response-Codes,panelIndex:5,row:4,size_x:4,size_y:3,type:visualization),(col:1,id:Request-Types,panelIndex:6,row:4,size_x:4,size_y:3,type:visualization),(col:9,id:IP_Details,panelIndex:7,row:4,size_x:4,size_y:3,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Workload%20Dashboard',uiState:())"
					height="100%" width="100%" style="min-height:680px"></iframe>

			</div>
		</div>
	</div>
</div>