<div ng-controller="perfCpuUtilizationPredController as pctrl">
	<div class="row">
		<div class="col-md-5">
			<input class="form-control" ng-model="respTime" type="number"
				placeholder="Enter Calls Per Minute">
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary" ng-click="getRTime()">
				<i class="fa fa-hand-o-right fa-2x" aria-hidden="true"></i>
			</button>
		</div>
	<!-- 	<div class="col-md-5">
			<span id="pValue">{{respTimeValue}}</span>
		</div> -->
	</div>
	<div class="row predictData">
		<div class="col-md-6">
			<div id="CPUpredictChart_div" style="width: 410px; height: 220px;"></div>
		</div>
		<div class="col-md-6">
			<table class="table predictiveTable">
				<thead>
					<tr>
						<th>Calls/Minute</th>
						<th>Actual Resp Time</th>
						<th>Predicted Resp Time</th>
					</tr>
				</thead>
				<tbody>
					
					<tr ng-repeat="perfCpuPred in perfCpuPredDetails">
								<td align="center">{{perfCpuPred.callsPerminute.toFixed(2)}}</td>
								<td align="center">{{perfCpuPred.actual}}</td>
								<td align="center">{{perfCpuPred.prediction.toFixed(2)}}</td>
					</tr>
				
				
				</tbody>
			</table>
		</div>
	</div>
</div>