<div>
	<div class="row">
		<header>
			<div ng-include src="'views/app/header/header.html'"></div>
		</header>
	</div>
	<div class="row">
		<div ui-view="side"></div>
		<div id="main">
			<div id="ribbon" class="hidden-print">
				<a href="#dashboard" class="btn-ribbon" data-container="#main"
					data-toggle="tooltip" data-title="Show dashboard"><i
					class="fa fa-home"></i></a> <span class="vertical-devider">&nbsp;</span>
				<button class="btn-ribbon" data-container="#main"
					data-action="reload" data-toggle="tooltip"
					data-title="Reload content by ajax">
					<i class="fa fa-refresh"></i>
				</button>
				<!-- <ol class="breadcrumb">
				</ol> -->
				<ui-breadcrumbs displayname-property="data.displayName"></ui-breadcrumbs>
			</div>
			<div ui-view="main"></div>
		</div>
	</div>
	<div class="row">
		<footer>Copyright © 2016, Independent Software Testing
			Services Company | Cigniti Technologies, All rights reserved</footer>
	</div>
</div>
