<div ng-controller="ReleaseReadyController as rrctrl">
	<div class="rrPanel release panel">
		<div class="panel-heading do-panel-heading">
			<div class="widgetMenuIncludeDiv"
				ng-include="'views/app/widgets/cio/widgetReleaseReady.html'"></div>
			<div class="panel-title">
				Release Readiness<br>
				<div class="panel_subTitle">{{rrKPI}}%</div>
			</div>
		</div>
		<div class="rrPanel-body panel-body">

			<div class="row graphWell bTop" ng-show="rrGaugeFlag">

				<div id="releaseReadyLoadImg_id" class="loadImage_class">
					<img src="views/images/spinner.gif" alt="" />
				</div>

				<div class="col-md-12" class="rrViewShow">
					<div class="col-md-8" style="border-right: 1px solid #ccc;">
						<div id="gauge" style="width: 700px; height: 360px;"></div>
					</div>
					<div class="col-md-4">
						<div class="col-md-12" ng-click="rrView('Eng')">
							<div id="EngGauge" style="width: 300px; height: 170px"></div>
						</div>
						<div class="col-md-12" ng-click="rrView('Any')">
							<div id="AnGauge" style="width: 300px; height: 170px"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 graphWell bTop" ng-show="rrEngFlag">
				<div class="col-md-12">
					<div class="col-md-6">
						<div id="g11"></div>
					</div>
					<div class="col-md-6">
						<div id="g13"></div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<div id="g12"></div>
					</div>
					<div class="col-md-6">
						<div id="g14"></div>
					</div>
				</div>
				<div class="col-md-12" ng-click="rrView('RR')" align="center">
					<a class="hyperLink">Back</a>
				</div>
			</div>
			<div class="col-md-12 graphWell bTop" ng-show="rrAnyFlag">
				<div class="col-md-12">
					<div class="col-md-6">
						<div id="g21"></div>
					</div>
					<div class="col-md-6">
						<div id="g23"></div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<div id="g22"></div>
					</div>
					<div class="col-md-6">
						<div id="g24"></div>
					</div>
				</div>
				<div class="col-md-12" ng-click="rrView('RR')" align="center">
					<a class="hyperLink"> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>